<!-- <app-header [cartArray]="productsArray"></app-header>
<app-product-listing (productAded)="addToCartAtHeader($event)"></app-product-listing>
<app-footer></app-footer> -->

<app-header></app-header>


<router-outlet> </router-outlet>
<!-- <ng-container [ngSwitch]="currentPage">

    <app-product-listing *ngSwitchCase="'listing'"></app-product-listing>
    <app-add-product *ngSwitchCase="'addProduct'"></app-add-product>
    <div *ngSwitchDefault>Error 404</div>

</ng-container> -->


<!-- <app-product-details></app-product-details> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<app-footer></app-footer>